/* ===========================
   SERVICES
=========================== */

.services{
    padding:80px 8%;
    background:#f8fbff;
    text-align:center;
}

.services h2{
    font-size:36px;
    color:#0b3d91;
    margin-bottom:50px;
}

.service-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.service-card{
    background:#fff;
    padding:35px 25px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.3s;
}

.service-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 40px rgba(0,0,0,.15);
}

.service-card h3{
    color:#0b3d91;
    margin-bottom:15px;
}

.service-card p{
    color:#555;
    line-height:1.7;
}
